<!DOCTYPE html>
<html>

<head>
    <title>Visa Partner</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="icon" href="VisaPartner-favicon.jpg" type="image/x-icon" />
    <link rel="stylesheet" href="login.component.css">

</head>

<body>
    <ul class="nav" id="navigation">
        <li class="nav-item">
            <a class="navbar-brand" aria-current="page" href="#"><img src="https://partner.visa.com/etc/designs/gpp/assets/images/logo.png" alt=""></a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Learn</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Partners</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="sign_in.html" style="color: blue;">Sign In</a>
        </li>
    </ul>
    <div class="container">
        <div class="contents">
            <h2 style="font-size: 70px; word-spacing: -2.5px;"><b>Sign In</b></h2>
            <br>
            <h4><b>Sign in using your existing account.</b></h4>
            <br>
            <form>
                <div class="form-group">
                    <label for="email">Email Address</label>
                    <input type="email" class="form-control" id="email" name="email" style="width: 13cm;height: 1.3cm; border-color: black;border-radius: 0%;">
                </div>
                <div class="form-group">
                    <label for="pwd">Password</label>
                    <input type="password" class="form-control" id="pwd" name="password" style="width: 13cm;height: 1.3cm; border-color: black;border-radius: 0%;">
                </div>
                <div class="checkbox">
                    <a href="" style="color: #1a1e75; text-decoration: none;">Forgot Password? </a>
                    <label><input type="checkbox" name="remember"> Remember me</label><br><br>
                    <button type="submit" class="btn btn-default" id="sign"><b>Sign In</b></button>
                </div>
                <br><br>
                <h2 style="font-weight: lighter;color: #1a1e75;">Don't have an account?</h2>
                <p style="text-align: left; font-size: larger;"><a href="" style="color: #1a1e75; text-decoration: none;">Register here</a> for a free account..
                    <br><br>
                </p>
            </form>
        </div>
        <div class="row" style="padding-left: 4cm;">
            <img src="https://partner.visa.com/content/dam/gpp/homepage/card-lab-header-v2-2x.png" alt="" id="container_img">
        </div>
    </div>
    <div class="footerr" style="background-color: #1a1e75;">
        <div class="container">
            <div class="row" style="height: fit-content;padding-top: 40px;">
                <div class="col">
                    <img src="visa-logo--white.jpg" alt=" ">
                    <p style="font-size: small; font-weight: lighter; ">Copyright 2021 Visa. All rights reserved.</p>
                </div>
            </div>
            <div class="row" style="height: fit-content;padding-top: 40px;">
                <div class="col">
                    <a href="">Visa Developer Center</a>
                    <a href="">Privacy Notice</a>
                    <a href="">Cookie Policy</a>
                    <a href="about.html">Terms Of Use</a>
                    <a href="">Support</a>
                    <a href="">Contact Us</a>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js " integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj " crossorigin="anonymous "></script>
</body>

</html>