
    <head>
        <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
        
    </head>
    <body>
<div class="out"> 
<div  class="wrapper">
  <h1> Student Registration</h1>
  <p> Please use valid credentials.</p>
  <form class="form" method="post" action="login.html">
    <input type="text" class="name" placeholder="Name">
    <input type="text" class="roll" placeholder="Roll No.">
   
    <input type="email" class="email" placeholder="Email">
    
    <input type="text" class="year" placeholder="year of study">
    <input list="dept" class="dept" placeholder="department">
    <datalist id="dept">
      <option value="IT">
        <option value="CSE">
          <option value="ECE">
            <option value="MECH">
    </datalist>
    <input type="password" class="pass" placeholder="Password">
   
    <input type="submit" class="submit" value="Register"> <br><br><br>
  </form>
</div>
</div>


    </body>
