<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

</head>

<body>
    <div class="out">
        <div class="wrapper">
            <h1> Student Registration</h1>
            <p> Please use valid credentials.</p>
            <form form class="form" [formGroup]="registerform" (ngSubmit)="register()" method="post">

                <input type="text" class="form-control" formControlName="Name" name="name" placeholder="Name">
                <span *ngIf="Name && Name.touched" style="color:red;">Name is required</span>


                <input type="text" class="form-control" formControlName="Roll" name="roll" placeholder="Roll No.">
                <span *ngIf="Roll && Roll.touched" style="color:red;">Roll No. is required</span>


                <input type="email" class="form-control" formControlName="Email" name="email" placeholder="Email">
                <span *ngIf="Email && Email.invalid && Email.touched" style="color:red;">Email is required</span>


                <input type="text" class="form-control" formControlName="Year" name="year" placeholder="Year of Study">
                <span *ngIf="Year && Year.touched" style="color:red;">Year of Study is required</span>


                <input list="dept" class="form-control" formControlName="Dept" name="dept" placeholder="Department" id="Dept">
                <datalist id="dept">
      <option value="IT">
        <option value="CSE">
          <option value="ECE">
            <option value="MECH">
    </datalist>
                <input type="password" class="form-control " formControlName="Password" name="password" placeholder="Enter password">
                <span *ngIf="Password && Password.invalid && Password.touched" style="color: red;">Password is required</span>

                <input type="submit" class="submit" value="Register">
                <button type="submit" class="submit" mat-raised-button class="btn btn-success">Register</button> <br><br><br>
            </form>
        </div>
    </div>


</body>