<head>
    <link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
</head>

<body>
    <div class="out">
        <div class="wrapper">
            <h1> Student Registration</h1>

            <form class="form" [formGroup]="loginform" (ngSubmit)="login()" method="post">



                <input type="email" class="form-control" formControlName="Email" name="email" placeholder="Email">
                <span *ngIf="Email && Email.invalid && Email.touched" style="color:red;">Email is required</span>
                <input type="password" class="form-control " formControlName="Password" name="password" placeholder="Enter password">
                <span *ngIf="Password && Password.invalid && Password.touched" style="color: red;">Password is required</span>
                <div class="acct">
                    <p>Don't have an account </p>
                    <a style="color:whitesmoke" href="#">Create new account</a>
                </div>

                <button type="submit" class="submit" mat-raised-button class="btn btn-success">Login</button><br><br><br>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"></script>
</body>